@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

.contenerdorPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.subTitle{
    font-size: 11px;
    color: #A09FB1;
    line-height: 2rem;
    margin-top: 2rem;

}

.numero{
    font-weight: 600;
    font-size: 32px;
}

.tipoMedicion{
    font-weight: 300;
    margin-top: 10px;
}

.medida{
    display: flex;
    
}

/* FIRST SECTION */

.row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}

.rowNav{
    width: 15px;
    height: 15px;
    border: 1px solid grey;
    border-radius: 50px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-content: center;
}

.imagenRow{
    object-fit: contain;
    width: 10px;
    height: 10px;
    fill: #ffffff;
    background-color: transparent;
}

.rowMed{
    font-size: 10px;
    font-weight: 200;

}

/* Section two */

.secondSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pruebaa{
    display: flex;
    flex-direction: row;
}

.structure{
    width: 130px;
    height: 6px;
    border: 1px solid grey;
    background-color: grey;
}

.numerosdebarra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 7px;
}

.mainporcentaje{
    display: flex;
    flex-direction: row;
    width: 130px;
    justify-content: flex-end;
}

.porcentaje{
    font-size: 7px;
    width: 5px;
}


.colorbarra{
    width: 129px;
    height: 5px;
    background-color: yellow;
}


/* Section 3rd */

.sectionTres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionCuatro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media(min-width:770px){
    .contenerdorPrincipal{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5rem;
        margin: 0 5rem;
    }

    .subTitle{
        font-size: 20px;
        color: #A09FB1;
        margin-top: 2rem;
    }

    .numero{
        font-weight: 600;
        font-size: 80px;
    }



}