@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

.contenerdorPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
    margin-bottom: 5rem;
} 
 

.subTitle{
    font-size: 15px;
    color: #A09FB1;
    line-height: 2rem;
}

.numero{
    font-weight: 600;
    font-size: 55px;
    margin: 0;
    background-color: transparent;
}

.tipoMedicion{
    font-weight: 300;
    margin-top: 20px;
    font-size: 25px;
    background-color: transparent;
}

.medida{
    display: flex;
    align-items: center;
    margin-bottom: 1.3rem;
    background-color: transparent;
    gap: .8rem;
}

/* FIRST SECTION */

.firstSectionn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: space-around;
    align-items: center;
    width: 328px;
    height: 204px;
    background-color: #1E213A;

}



.row{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}

.rowNav{
    width: 21px;
    height: 21px;
    border: 1px solid grey;
    border-radius: 50px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-content: center;
}

.imagenRow{
    object-fit: contain;
    width: 15px;
    height: 15px;
    fill: #ffffff;
    background-color: transparent;
}

.rowMed{
    font-size: 16px;
    font-weight: 200;

}

/* Section two */

.secondSection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 328px;
    height: 204px;
    background-color: #1E213A;

}

.pruebaa{
    display: flex;
    flex-direction: row;
}

.fondo{
    background-color: #1E213A;
}
.structure{
    width: 229px;
    height: 8px;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 80px;
}

.numerosdebarra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 7px;
}

.mainporcentaje{
    display: flex;
    flex-direction: row;
    width: 229px;
    justify-content: flex-end;
    background-color: #1E213A;
    border: none;
}

.porcentaje{
    font-size: 7px;
    width: 5px;

}


.colorbarra{
    width: 129px;
    height: 5px;
    background-color: yellow;
    
}


/* Section 3rd */

.sectionTres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 159px;
    background-color: #1E213A;
}
 
.sectionCuatro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 159px;
    background-color: #1E213A;
}

@media(min-width:770px){
    .contenerdorPrincipal{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5em;
        margin: 0 5rem;
    }



    .subTitle{
        font-size: 20px;
        color: #A09FB1;
        margin-top: 2rem;
    }

    .numero{
        font-weight: 600;
        font-size: 80px;
    }

    .medida{
        margin: 0;
    }

    .subTitle{
        margin: 0;
    }

    

}