.sectionOne{
    height: 270px;
    background-image: linear-gradient(rgba(30,33,58,0.9), rgba(30,33,58,0.9)),url("../../public/Cloud-background.png") ;
    background-repeat: no-repeat;
    background-size: 380px 280px;
}


.firstSection{
    display: flex;
    flex: row;
    justify-content: space-between;
    background: transparent;
} 

.button{
    color: #E7E7EB;
    background-color:#6E707A;
    width: 161px;
    height: 40px;
}

/* Location logo right upper corner */
.location{
    /* background: transparent; */
    width: 40px; 
    height: 40px ;
    border: 2px solid black;
    text-align: center;
    border-radius: 50px;
}

.location img{
    border-radius: 50px;
    padding: 3px;
    object-fit: contain;   
}

/* Main image weather  */

.mainImage{
   /*  width: 110px;
    height: 120px; */
    width: 150px;
    height: 174px;
    margin: 20px auto;
    background: transparent;
}

.firstImagen{
    width: 100%;
    height: 100%;
    object-fit: fill;
    background: transparent;
}

.sectionTwo{ 
    display: flex;
    justify-content: center;
    color: #fff;
}

.number{
    font-size: 60px;
    font-weight: 500;
}

.grados{
    font-size: 21px;
    font-weight: 300;
    margin-top: 1.5rem;
}

.sectionThree{
    display: flex;
    justify-content: center;
    color: #A09FB1;
}

.details{
    
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.sectionFour{
    display: flex;
    justify-content: center;
    color: #A09FB1;
}

.day{
   
    font-weight: 500;
    font-size: 18px;
    color: #88869D;
}

.date{
    color: #88869D; 
   
}

.sectionFive{
    display: flex;
    justify-content: center;
    color: #A09FB1;
    margin-top: 1rem;
}