
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #100E1D; 
    color: #E7E7EB;
    font-family: 'Raleway', sans-serif;
}

.primero{
    width: 375px;

}

.tercero{
    margin: 0;
}

.mainTitle{
    font-size: 24px;
    margin-bottom: 2rem;
}

.botonesGrados{
    width: 2px;
}

.botonesGrados span{
    color: #100E1D;
    background-color: #100E1D;
}


@media (min-width:770px){
    .raiz{
        display: flex;
        flex-direction: row;
    }

    .primero{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: 30vw;
    }

    .Elsegundo{
        display: flex;
        flex-direction: column;

    }

    .mainTitle{
        margin: 2rem 0 1rem 9.5rem;
        font-size: 20px;
    }

    .botonesGrados{
        display: flex;
        justify-content: flex-end;
        width: 80%;
        margin: 2rem;
        gap: 1.5rem;
    }

    .botonesGrados span{
        color: white;
        padding: 8px;
        font-weight: 700;
        border: 1px solid grey;
        background-color: grey;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 18px;
    }

}




