
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

*{
    margin: 1.5px 1px;
    padding: 0;
    box-sizing: border-box;
    background-color: #100E1D; 
    color: #E7E7EB;
    font-family: 'Raleway', sans-serif;
}


@media (min-width:770px){
    body{
        display: flex;
        flex-direction: row;
    }

    .primero{
        display: flex;
        flex-wrap: nowrap;
    }
    
    .segundo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 3rem 5rem;
    }
    
    .tercero{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.mainTitle{
    font-size: 20px;
}


